<%- include("partials/header") %>
<div class="container">		
	<div class="row">
	  <div class="col s5">
		<table class="highlight">
		<thead>
		  <tr>
			<th>State</th>
			<th>Confirmed</th>
			<th>Recovered</th>
			<th>Deaths</th>
		  </tr>
		</thead>
		<tbody>
			<% data["statewise"].forEach(function(name){ %>
			  <tr>
				<% if(name["statecode"]!="TT"){ %>
					<td><a href="/<%= name['statecode']%>"><%= name["state"] %></a></td>
					<td><%= name["confirmed"] %>
						<span class="updated red-text text-darken-1">
							<% if(name["deltaconfirmed"]!=0){ %>
								<%= name["deltaconfirmed"] %>
								<i class="tiny material-icons">arrow_upward</i>
							<% } %>
						</span>
					</td>
					<td><%= name["recovered"] %>
					<span class="updated green-text text-accent-4">
							<% if(name["deltarecovered"]!=0){ %>
								<%= name["deltarecovered"] %>
								<i class=" tiny material-icons">arrow_upward</i>
							<% } %>
						</span></td>
					<td><%= name["deaths"] %></td>
				<% } %>
			  </tr>
			<% }); %>
		</tbody>
		</table>
	  </div>	  
	  <div class="col s7">					
		<section class="container">
			<div class="card large">			
				<div class="card-content">
					<h3>Active</h3>
					<h3>Recovered</h3>
					<h3>Deaths</h3>
					<h3>Total</h3>
				</div>				
			</div>
			<canvas id="myChart" width="50" height="50"></canvas>
			<canvas id="mylineChart" width="50" height="50"></canvas>
		</section>
	  </div>
	</div>
</div>
<script src="/scripts/data.js" ></script>
<%- include("partials/footer") %>