<%- include("partials/header") %>
<div class="container">		
	<div class="row">
	  <div class="col s4">
		<table class="highlight">
		<thead>
		  <tr>
			<th>State</th>
			<th class="right-align">Confirmed  </th>
			<th class="right-align">Recovered  </th>
			<th class="right-align">Deaths   </th>
		  </tr>
		</thead>
		<tbody>
			<% data["statewise"].forEach(function(name){ %>
			  <tr>
				<% if(name["statecode"]!="TT"){ %>
					<td><a href="/<%= name['statecode']%>"><%= name["state"] %></a></td>
					<td class="right-align"><span class="updated red-text text-darken-1">
						<% if(name["deltaconfirmed"]!=0){ %>
							<%= name["deltaconfirmed"] %>
							<i class="tiny material-icons">arrow_upward</i>
						<% } %>
						</span>
						<%= name["confirmed"] %>						
					</td>
					<td class="right-align">
						<span class="updated green-text text-accent-4">
							<% if(name["deltarecovered"]!=0){ %>
								<%= name["deltarecovered"] %>
								<i class=" tiny material-icons">arrow_upward</i>
							<% } %>
						</span>
						<%= name["recovered"] %>
					</td>
					<td class="right-align"><%= name["deaths"] %></td>
				<% } %>
			  </tr>
			<% }); %>
		</tbody>
		</table>
	  </div>	  
	  <div class="col s8">					
		<section class="container card-container">
			<div class="card medium valign-wrapper">			
				<div class="card-content ">
					<% console.log(total) %>
					<h4>Active  <%=total["active"] %><span></span></h4>
					<h4>Confirmed  <%=total["confirmed"] %>
						<span class="updated red-text text-darken-1">
							<% if(total["dconfirmed"]!=0){ %>
								<%=total["dconfirmed"]%>
								<i class="tiny material-icons">arrow_upward</i>
							<% } %>
						</span>
					</h4>
					<h4>Deaths  <%=total["deaths"] %><span></span></h4>
					<h4>Recovered  <%=total["recovered"] %>
						<span class="updated green-text text-accent-4">
							<% if(total["drecovered"]!=0){ %>
								<%=total["drecovered"]%>
								<i class=" tiny material-icons">arrow_upward</i>
							<% } %>
						</span>
					</h4>
				</div>				
			</div>
			<div class="card large">
				<canvas id="myChart" width="50" height="50"></canvas>
			</div>
			<div class="card large">
				<canvas id="mylineChart" width="50" height="50"></canvas>
			</div>
			
			
		</section>
	  </div>
	</div>
</div>
<script src="/scripts/data.js" ></script>
<%- include("partials/footer") %>